{% extends 'baseBack.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // Récupération des données depuis le contrôleur
        const statuses = {{ statuses|json_encode|raw }};

        // Création du graphique
        const ctx = document.getElementById('myChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Object.keys(statuses).map(String), // Convert keys to strings
                datasets: [{
                    label: 'Nombre de commandes par statut',
                    data: Object.values(statuses),
                    backgroundColor: ['rgb(238, 187, 223)', 'rgb(144, 207, 233)', 'rgb(255, 180, 150)'],
                    borderColor: ['rgb(201, 141, 184)', 'rgb(62, 143, 198)', 'rgb(245, 140, 119)'],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        stepSize: 1 // Ensure only integers are displayed on the y-axis
                    }
                }
            }
        });
    </script>
{% endblock %}


{% block AabiElWest %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <div>
                <h6 class="m-0 font-weight-bold text-primary">État des Commandes par Statut</h6>
            </div>
        </div>
        <canvas id="myChart" width="400" height="100"></canvas>
    </div>
</div>
{% endblock %}
