{# templates/commande/confirmation.html.twig #}
{% extends 'base.html.twig' %}
{% block AabiElWest1 %}

    <title>Confirmation</title>

    <div>
        
        <a href="{{ path('afficher_commande') }}">Retour à la liste des commandes</a>
    </div>
{%endblock%}
